import(R.utils)
importFrom(R.methodsS3, setMethodS3, throw)
importFrom(R.oo, setConstructorS3, extend, Object, getHistory)
importFrom(sgeostat, in.chull, in.polygon)
importFrom(geometry, cart2bary)
importFrom(MASS, mvrnorm)
importFrom(Matrix, sparseMatrix)

S3method(as.character, NPVI)
S3method(getHistory, NPVI)
S3method(getObs, NPVI)
S3method(getPsi, NPVI)
S3method(getPsiSd, NPVI)
S3method(getPValue, NPVI)
S3method(getPValue, matrix)
S3method(setConfLevel, NPVI)

export(as.character.NPVI,
       extractW, extractXW,
       getHistory.NPVI,
       getLightFit,
       getObs, getObs.NPVI,
       getPsi, getPsi.NPVI,
       getPsiSd, getPsiSd.NPVI,
       getPValue, getPValue.NPVI, getPValue.matrix,
       getSample,
       setConfLevel, setConfLevel.NPVI,
       tmle.npvi)
