import(R.utils)
importFrom(R.methodsS3, setMethodS3, throw)
importFrom(R.oo, setConstructorS3, extend, Object)
importFrom(sgeostat, in.chull, in.polygon)
importFrom(MASS, mvrnorm)
importFrom(Matrix, sparseMatrix)

export(as.character.NPVI,
       extractW, extractXW,
       getHistory.NPVI,
       getLightFit,
       getObs, getObs.NPVI,
       getPsi, getPsi.NPVI,
       getPsiSd, getPsiSd.NPVI, 
       getSample,
       setConfLevel, setConfLevel.NPVI,
       tmle.npvi)

